<div class='comment-container data-comment-id=<%= "#{comment.id}" %>'>
  <div class='row'>
    <%= image_tag user_thumb(comment), class: 'comment-profile-icon profile-icon ' %>
    <%= profile_link(comment.user_id, 'user-profile-link') %>

    <span class='delete-comment pull-right'>
      <% if comment.user_id == current_user.id %>
        <%= link_to comment, class: 'delete-comment', method: :delete, remote: true do %>
          <span class='glyphicon glyphicon-remove'></span>
        <% end %>
      <% end %>
    </span>

    <span><%= comment.context %></span>

  </div>

  <div class='row'>
      <ul class='list-inline comment-footer'>

        <li>
          <%= link_to toggle_comment_like_path(comment.id), class: 'comment-like-btn', remote: true, method: :post do -%>
            <span class='glyphicon glyphicon-thumbs-up <%= 'active' if @comment_likes && @comment_likes.include?(comment.id) -%>'></span>
            <span class='thumbs count'><%= comment.comment_likes_count %></span>
          <% end %>
        </li>

      </ul>

      <span class='date-time-comment pull-right'>
        <%= date_and_time(comment) %>
      </span>

  </div>
  
</div>
