<div class='comment-form-container'>
<%= form_tag({controller: '/comments', action:'create'}, remote: true, method: 'post', class: 'comment-form') do -%>
  <%= hidden_field_tag 'comment[micropost_id]', micropost_id %>
  <%= text_area_tag 'comment[context]', '', class: 'comment-text-area', placeholder: 'Comment here...' %>
  <%= submit_tag 'Comment', class: 'comment-btn post-btn btn btn-primary' %>
<% end %>
</div>

