/* line 1, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.chat-container {
  position: fixed;
  display: inline-table;
  bottom: 0;
  z-index: 99999;
  height: auto;
  width: 100%;
}

/* line 11, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.popup-messages .author {
  background: palegreen none repeat scroll 0 0 !important;
}

/* line 16, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.popup-head-left img {
  margin-right: 5px;
}

/* line 20, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.direct-chat-msg {
  margin-top: -8px !important;
}

/* line 24, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.popup-box {
  pointer-events: visible;
  z-index: 10;
  background-color: #ffffff;
  border: 1px solid #b0b0b0;
  bottom: 0;
  display: block;
  height: 415px;
  display: inline-table;
  position: absolute;
  right: 70px;
  width: 300px;
  font-family: 'Open Sans', sans-serif;
}

/* line 39, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.round.hollow {
  margin: 40px 0 0;
}

/* line 43, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.round.hollow a {
  border: 2px solid #ff6701;
  border-radius: 35px;
  color: red;
  color: #ff6701;
  font-size: 23px;
  padding: 10px 21px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

/* line 54, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.round.hollow a:hover {
  border: 2px solid #000;
  border-radius: 35px;
  color: red;
  color: #000;
  font-size: 23px;
  padding: 10px 21px;
  text-decoration: none;
}

/* line 65, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.popup-box {
  overflow: hidden;
}

/* line 69, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.popup-box .popup-head {
  background-color: #fff;
  clear: both;
  color: #7b7b7b;
  display: inline-table;
  font-size: 21px;
  padding: 7px 10px;
  width: 100%;
  font-family: Oswald;
}

/* line 80, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.bg_none i {
  border: 1px solid #ff6701;
  border-radius: 25px;
  color: #ff6701;
  font-size: 17px;
  height: 33px;
  line-height: 30px;
  width: 33px;
}

/* line 90, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.bg_none:hover i {
  border: 1px solid #000;
  border-radius: 25px;
  color: #000;
  font-size: 17px;
  height: 33px;
  line-height: 30px;
  width: 33px;
}

/* line 100, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.bg_none {
  background: transparent none repeat scroll 0 0;
  border: medium none;
}

/* line 105, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.popup-box .popup-head .popup-head-right {
  margin: 11px 7px 0;
}

/* line 109, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.popup-head-left img {
  border: 1px solid #7b7b7b;
  border-radius: 50%;
  width: 44px;
}

/* line 115, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.popup-messages-footer > textarea {
  border-bottom: 1px solid #b2b2b2 !important;
  height: 34px !important;
  margin: 7px;
  padding: 5px !important;
  border: medium none;
  width: 95% !important;
}

/* line 124, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.popup-messages-footer {
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  position: absolute;
  width: 100%;
}

/* line 131, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.popup-messages-footer .btn-footer {
  overflow: hidden;
  padding: 2px 5px 10px 6px;
  width: 100%;
}

/* line 137, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.simple_round {
  background: #d1d1d1 none repeat scroll 0 0;
  border-radius: 50%;
  color: #4b4b4b !important;
  height: 21px;
  padding: 0 0 0 1px;
  width: 21px;
}

/* line 146, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.popup-box .popup-messages {
  background: #3f9684 none repeat scroll 0 0;
  height: 275px;
  overflow: auto;
}

/* line 152, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.direct-chat-messages {
  overflow: auto;
  padding: 10px;
  transform: translate(0px, 0px);
}

/* line 159, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.popup-head-right .btn-group {
  display: inline-flex;
  margin: 0 8px 0 0;
  vertical-align: top !important;
}

/* line 165, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.chat-header-button {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #636364;
  border-radius: 50%;
  font-size: 14px;
  height: 30px;
  width: 30px;
}
/* line 166, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.chat-header-button.hide-chat {
  margin-right: 10px;
}
/* line 175, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.chat-header-button:focus {
  outline-width: 0;
  outline: none;
}

/* line 181, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.popup-head-right .btn-group .dropdown-menu {
  border: medium none;
  min-width: 122px;
  padding: 0;
}

/* line 187, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.popup-head-right .btn-group .dropdown-menu li a {
  font-size: 12px;
  padding: 3px 10px;
  color: #303030;
}

/* line 193, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.popup-messages abbr.timestamp {
  background: #3f9684  none repeat scroll 0 0;
  color: #fff;
  padding: 0 11px;
}

/* line 199, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.popup-messages .chat-box-single-line {
  border-bottom: 1px solid #a4c6b5;
  height: 12px;
  margin: 7px 0 30px;
  position: relative;
  text-align: center;
}

/* line 207, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.popup-messages .direct-chat-messages {
  height: auto;
}

/* line 211, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.popup-messages .direct-chat-timestamp {
  color: #fff;
  opacity: 0.6;
  margin-bottom: 5px;
}

/* line 217, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.popup-messages .direct-chat-name {
  font-size: 15px;
  font-weight: 600;
  margin: 0 0 0 49px !important;
  color: #fff;
  opacity: 0.9;
}

/* line 225, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.popup-messages .direct-chat-info {
  display: block;
  font-size: 12px;
  margin-bottom: 0;
}

/* line 231, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.popup-messages .big-round {
  margin: -9px 0 0 !important;
}

/* line 234, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.popup-messages .direct-chat-img {
  border: 1px solid #fff;
  background: #3f9684  none repeat scroll 0 0;
  border-radius: 50%;
  float: left;
  height: 40px;
  margin: -10px 0 0;
  width: 40px;
}

/* line 244, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.direct-chat-reply-name {
  color: #fff;
  font-size: 15px;
  margin: 0 0 0 10px;
  opacity: 0.9;
}

/* line 251, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.direct-chat-img-reply-small {
  border: 1px solid #fff;
  border-radius: 50%;
  float: left;
  height: 20px;
  margin: 0 8px;
  width: 20px;
  background: #3f9684;
}

/* line 261, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.popup-messages .direct-chat-msg {
  margin-bottom: 10px;
  position: relative;
}

/* line 266, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.popup-messages .doted-border::after {
  background: transparent none repeat scroll 0 0 !important;
  border-right: 0px dotted #fff !important;
  bottom: 0;
  content: "";
  left: 17px;
  margin: 0;
  position: absolute;
  top: 0;
  width: 2px;
  display: inline;
  z-index: -2;
}

/* line 280, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.popup-messages .direct-chat-msg::after {
  background: #fff none repeat scroll 0 0;
  border-right: medium none;
  bottom: 0;
  content: "";
  left: 17px;
  margin: 0;
  position: absolute;
  top: 0;
  width: 2px;
  display: inline;
  z-index: -2;
}

/* line 294, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.direct-chat-text::after, .direct-chat-text::before {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: transparent #d2d6de transparent transparent;
  border-image: none;
  border-style: solid;
  border-width: medium;
  content: " ";
  height: 0;
  pointer-events: none;
  position: absolute;
  right: 100%;
  top: 15px;
  width: 0;
}

/* line 312, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.direct-chat-text::after {
  border-width: 5px;
  margin-top: -5px;
}

/* line 317, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.popup-messages .direct-chat-text {
  background: #dfece7 none repeat scroll 0 0;
  border: 1px solid #dfece7;
  border-radius: 2px;
  color: #1f2121;
}

/* line 323, /home/denis/workspace/github/oosh_2/vendor/assets/stylesheets/chat_box.scss */
.direct-chat-text {
  background: #d2d6de none repeat scroll 0 0;
  border: 1px solid #d2d6de;
  border-radius: 5px;
  color: #444;
  margin: 5px 0 0 50px;
  padding: 5px 10px;
  position: relative;
}
