<div class='col-md-12 col-xs-12 col-lg-12 col-sm-12'>
  <h3>Search results for: "<%= @search %>" </h3>
  <br/>
  <ul class='search-list'>
    <% if @users.any? %>
      <% @users.each do |user| %>
        <li>
          <%= link_to users_profile_path(user.id) do %>
            <%= image_tag user.avatar.url(:thumb), class: 'profile-icon' %>
            <%= user.name %> 
          <% end %>
          <%= link_to show_conversation_path(user), remote: true, class: 'search-icons pull-right' do %>
            <span class='glyphicon glyphicon-heart-empty'></span>
          <% end %>
          <%= link_to show_conversation_path(user), data:{ 'user-id': user.id }, remote: true, class: 'new-personal-message search-icons pull-right' do %>
            <span class='glyphicon glyphicon-envelope'></span>
          <% end %>
        </li>
      <% end %>
    <% else %>
      <li><span>No users under search</span></li>
    <% end %>
  </ul>
</div>
<div class='apple_pagination col-md-12 col-lg-12 col-xs-12'><%= will_paginate @users %></div>
