<div id="notification">
  <div class="close">Close me</div>
  <p>
  <%= message.body %>
  from <%= message.user.name %>
</p>
<p><%= link_to 'Take me there now!', conversation_path(message_conversation) %></p>
</div>
