<div class='col-xs-12 col-md-3 full-height'>
  <div id="profile-photo-container">

    <div id="profile-frame">
      <%= image_tag(@user.avatar.url(:medium), alt: "Profile photo", height: "250", class:"profile-photo") -%> 
    </div>

    <% if @user.id == current_user.id %>

      <div class='user-profile-name'><%= content_tag(:p, @user.name) -%></div>
      <%= link_to users_get_avatar_form_path, id:'get-avatar-form', class: 'change-avatar-btn avatar-footer-links', remote: true do -%>
        <span class='glyphicon glyphicon-camera'></span>
      <% end %>

    <% end %>

    <%= link_to user_albums_path(params[:id]), class: 'avatar-footer-links', data: {'turbolinks' => false} do -%>
      <span class='glyphicon glyphicon-picture'></span>
    <% end %>

    <% unless @user.id == current_user.id %>
      
      <%= link_to show_conversation_path(@user.id), data: { 'user-id' => params[:id] }, remote: true, class: 'avatar-footer-links new-personal-message' do -%>
        <span class='glyphicon glyphicon-comment'></span>
      <% end %>
      <%= link_to user_albums_path(params[:id]), data: { 'friend' => true }, class: "avatar-footer-links active" do -%>
        <span class='glyphicon glyphicon-user'></span>
      <% end %>
      
    <% end %>

  </div>
</div>

<%= render partial: 'microposts/micropost_form' %>

<% if @microposts.any? %>
  <%= render partial: 'microposts/micropost', collection: @microposts %>
  <div class='col-md-8 col-xs-12 pull-right show-more-link'>
    <span> 
      <%= link_to 'Show more', show_more_microposts_url(@microposts.last.id), id: 'show-more-microposts', remote: true -%>
    </span>
  </div>
<% end %>
