<div class="album-container col-lg-3 col-md-4 col-xs-6 ">
  <h3>
    <%= album.name %>
    <% if current_user.id == album.user_id %>
      <%= link_to destroy_album_path(album.id), class: 'pull-right delete-album', remote: true, method: :delete do %>
        <%= content_tag(:span, nil, class: 'glyphicon glyphicon-remove') %>
      <% end %>
    <% end %>
  </h3>
  <%= link_to show_album_path(album.user_id, album.id, :album_name => album.name) do %>
    <div class='row'>
      <% 4.times do |i| %>
        <div class='col-md-6 col-xs-6 col-lg-6 album-thumb'>
          <% if album_pics(album, i)  %>
            <%= image_tag(album_pics(album, i), class: 'img-responsive') %>
          <% else %>
            <%= image_tag('blank-pic.png', class: 'img-responsive') %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
