<div class="modal fade" id="newAlbumModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="newAlbumModalLabel">Create a new album</h4>
      </div>

      <%= form_tag({ controller: 'albums', action: 'create' }, remote: true, id: 'create-album-form', method: 'post') do %>
        <div class="modal-body">
          <%= label_tag 'album[name]', 'Album name:' %>
          <%= text_field_tag 'album[name]','', placeholder: 'Croatia beach party...' %>
        </div>
        <div class="modal-footer">
          <%= button_tag 'Close', type: 'button', class: 'close-form btn btn-default', data: { 'dismiss'=>'modal' } %>
          <%= submit_tag 'Create', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
