<div class='col-md-8 col-lg-8 col-md-offset-2 col-xs-12'>
  <div class='gallery-container'>

    <% if params[:id].to_i == current_user.id %>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#newAlbumModal">+Add Album</button>
      </div>
    <% end %>

    <div class='col-md-12 col-xs-12' id='album-collection'>
      <% if @albums.blank? %>
        <div class='no-content'>
          <span>
            <% if params[:id].to_i == current_user.id %>
              You have no albums. Click +Add Album to create one.
            <% else %>
                Nothing to see here, move along...
            <% end %>
          </span>
        </div>
      <% else %>
        <%= render partial: 'albums/album', collection: @albums %>
      <% end %>
    </div>

  <%= render 'albums/create_album_form' %>
  </div>
</div>
