<div class'col-md-10 col-xs-12' id='gallery-grid'>
  <div class='row'>
    <div class='album-name-header'>
      <div class='album-name'>
      <h2><%= @album[:name] %></h2>
      <form action=<%= user_albums_url(params[:user_id])%> style='display:inline;'>
      <div class="btn-group" role="group">
        <input type="submit" class="btn btn-default" value='< Back' />
        <% if current_user.id == params[:user_id].to_i %>
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#newPictureModal">+Add Pictures</button>
        <% end %>
      </div>
      </div>
      </form>
    </div>
  </div>

  <% unless @pictures.blank? %>
    <%= render 'albums/pictures/picture' %> 
  <% else %>
    <div class='no-content'>
      <span>You have no pictures. Click +Add Pictures to add.</span>
    </div>
  <% end %>

  <div class='row'>
  <div class='apple_pagination col-md-12 col-lg-12 col-xs-12'><%= will_paginate @pictures %></div>
  </div>
  <%= render 'albums/pictures/create_picture_form' %>
  <%= render 'albums/pictures/edit_caption_form' %>
  <%= render 'albums/pictures/delete_picture_form' %>
</div>
