<%= content_tag(:div, class: "popup-box", data: { 'conversation-id' => @conversation_id, 'user-id' => user.id }) do -%>
  <div class="popup-head">
    <%= link_to users_profile_path(user), class: 'no-link-style' do -%>
      <div class="popup-head-left pull-left"><%= image_tag user.avatar.url(:thumb) %><%= user.name -%></div>
    <% end %>
    <div class="popup-head-right pull-right">
      <button class="chat-header-button pull-right remove-chat" type="button"><i class="glyphicon glyphicon-off"></i></button>
      <button class="chat-header-button pull-right hide-chat" type="button"><i class="glyphicon glyphicon-chevron-down"></i></button>
    </div>
  </div>
  <div class='chat-content'>
    <div class="popup-messages">
      <div class="direct-chat-messages">
        <% unless @messages.blank? %>
          <%= render partial: 'personal_messages/message_date_control_flow', locals: { user: user } %>
        <% end %>
      </div>
    </div>
    <div class="popup-messages-footer">
      <textarea class="chat_input" placeholder="Type a message..." rows="10" cols="40" name="message"></textarea>
      <div class="btn-footer">
        <button class="bg_none"><i class="glyphicon glyphicon-film"></i> </button>
        <button class="bg_none"><i class="glyphicon glyphicon-camera"></i> </button>
        <button class="bg_none"><i class="glyphicon glyphicon-paperclip"></i> </button>
        <button class="bg_none pull-right"><i class="glyphicon glyphicon-thumbs-up"></i> </button>
      </div>
    </div>
  </div>
<% end %>
