<button type="button" id='avatar-form-btn' class="hidden" data-toggle="modal" data-target="#myModal"></button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Change Avatar</h4>
      </div>

        <%= form_tag({ controller: '/users/avatars', action: 'create' }, method: 'post',  multipart: true)  do %>
      <div class="modal-body">
          <%= file_field_tag 'avatar[image]', type: :file %>
      </div>
          <div class="modal-footer">
            <%= button_tag 'Close', type: 'button', class: 'btn btn-default', data: { :dismiss => 'modal' } %>
            <%= submit_tag 'Save changes', class: 'btn btn-primary' %>
      </div>
        <% end %>
    </div>
  </div>
</div>
