<div class="direct-chat-msg doted-border" data-user-id=<%= message.user_id %> data-message-id=<%= message.id %>>
   <div class="direct-chat-info clearfix">
     <span class="direct-chat-name pull-left"><%= author_of_message(message.user_id, user, current_user) %></span>
   </div>
   <%= image_tag chat_image(message.user_id, user, current_user), class: 'direct-chat-img' %>
   <div class="direct-chat-text <%= 'author' if current_user_is_author?(message, current_user) %>">
     <%= message.body %>
   </div>
   <div class="direct-chat-info clearfix">
   <span class="direct-chat-timestamp pull-right"><%= message_time message.created_at %></span>
   </div>
</div>

