<% @messages.each do |message| %>
  <% if message.is_a?(String) %>
    <%= render partial: 'personal_messages/date', locals: { date: message } %>
  <% else %>
    <%= render partial: 'personal_messages/message', locals: { message: message, user: user, current_user: current_user } %>
  <% end %>
<% end %>
