<div class='col-xs-12 col-md-8 micropost-container pull-right'>
  <div class="col-xs-12 col-md-5 micropost-div">
    <div class= 'row micropost-header micropost'>

      <% if (micropost.author_id == current_user.id) %>

        <%= link_to micropost_privacy_path(micropost), remote: true, class: 'privacy-btn', method: :patch do %> 
          <span class='glyphicon col-md-1 micropost-header-icon glyphicon-eye-open <%= 'active' if micropost.private -%>'></span>
        <% end %>
        <%= link_to '#', class: 'edit-micropost-btn' do %>
          <span class='glyphicon col-md-1 micropost-header-icon glyphicon-pencil'></span>
        <% end %>

      <% end %>

      <span class='micropost-header-text'>
        <%= micropost.author_id == micropost.receiver_id ? profile_link(micropost.author_id) :  micropost_sender_receiver_html(micropost)-%>
        </span>

        <% if ((micropost.author_id == current_user.id) || (micropost.receiver_id == current_user.id)) %>
          <%= link_to micropost, class: 'delete-micropost', method: :delete, remote: true do %>
            <span class='glyphicon col-md-1 micropost-header-icon glyphicon-remove pull-right' data-micropost-id=<%= "#{micropost.id}"%>></span>
          <% end %>
        <% end %>

    </div>
    <div class='row border-bottom'>
      <%= image_tag user_thumb(micropost), alt: 'Profile photo', height: '30', class: 'micropost-profile-icon profile-icon' -%>
      <%= content_tag :div, id: "micropost-#{micropost.id}", class: 'micropost-content' do -%>
        <%= content_tag :p, "#{micropost.context}", class: 'micropost-paragraf' -%>
        <%= (render partial: 'microposts/micropost_edit_form', locals: {micropost: micropost}) if micropost.author_id == current_user.id -%>
      <% end %>

      <div class='row'>
        <ul class='list-inline micropost-footer'>

          <li>
            <%= link_to toggle_micropost_like_path(micropost.id), class: 'micropost-like-btn', method: 'post', remote: true do -%>
              <span class='glyphicon glyphicon-thumbs-up <%= 'active' if @micropost_likes && @micropost_likes.include?(micropost.id) -%>'></span>
              <span class='thumbs count'><%= micropost.micropost_likes_count -%></span>
            <% end %>
          </li>

        </ul>

        <span class='date-time pull-right'>
          <%= date_and_time(micropost) %>
        </span>

      </div>
    </div>

    <div class='row comment-row'>
      <%= render partial: 'comments/comment', collection: (@comments = micropost.comments) %>
    </div>
      <div class='row'>
        <%= render partial: 'comments/comment_form', locals: {micropost_id: micropost.id} %>
      </div>

    <a href='#' class='row show-more' data-show='false'>Show more</a>
  </div>
</div>
