<div class='col-xs-12 col-md-8 micropost-container pull-right'>
  <div class="col-xs-12 col-md-5 micropost-div">
    <%= form_tag({controller: '/microposts', action:'create'}, remote: true, method: 'post', id: 'micropost-form') do -%>
      <%= hidden_field_tag 'micropost[author_id]', current_user.id %>
      <%= hidden_field_tag 'micropost[receiver_id]', params[:id] %>    
      <div class= 'row micropost-header'>
        <span class='glyphicon col-md-1 micropost-header-icon glyphicon-camera'></span>
        <span class='glyphicon col-md-1 micropost-header-icon glyphicon-picture'></span>
        <span class='glyphicon col-md-1 micropost-header-icon glyphicon-map-marker'></span>
      </div>
      <div class='row border-bottom'>
        <%= image_tag current_user.avatar.url(:thumb), alt: 'Profile photo', height: '30', id: 'form-profile-icon', class: 'micropost-profile-icon profile-icon' -%>
        <%= text_area_tag 'micropost[context]', '', class: 'micropost-text-area', size: '25x3', placeholder: 'Write something...' -%>
      </div>
      <div class='row'>
        <%= submit_tag 'Post', class: 'post-btn btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

