<%= form_tag(micropost_edit_path, remote: true, method: 'patch', class: 'micropost-edit-form') do -%>
  <%= hidden_field_tag 'micropost[id]', micropost.id, {class: 'micropost-id'} %>
  <%= text_area_tag 'micropost[context]', '', class: 'micropost-text-area', size: '25x3' -%>
  <%= submit_tag 'Change', class: 'edit-submit-btn btn btn-danger pull-right' -%>
  <%= button_tag 'Cancel', class: 'edit-cancel-btn btn btn-primary pull-right', type: 'button' -%>
<% end %>

