/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require tether
 *= require bootstrap-custom
 *= require_self
 *= require dropzone/dropzone
 */

@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@import 'sidebar';
@import 'imagelightbox';
@import 'chat_box';

/* Dev env only */

#console-window {
  display: none;
}

/*----------------- Mixins ------------------*/

@mixin no-scroll-bar {
  ::-webkit-scrollbar { display: none;}
  ::-moz-scrollbar {display:none;}
  ::-o-scrollbar {display:none;}
  ::-google-ms-scrollbar {display:none;}
  ::-khtml-scrollbar {display:none;}
}

@mixin image-size($width, $size){
  @media screen and (min-width: $width) {
    width: $size;
    height: $size;
  }
}

@mixin text-area-style {
  border-style: none;
  resize: none;
  position: relative;
  &:focus {
    box-shadow: 0 0 10px #d6f5f5
  }
}

@mixin search-field-size($min-width, $width) {
  @media(min-width: $min-width) {
    #search-field {
      width: $width;
    }
  }
}

@mixin search-links {
  ul li a {
    &:link, &:visited {
      color: cornflowerblue;
      text-decoration: none;
    }
    &:hover {
      font-weight: bold;
    }
  }
}

@mixin micropost-form-width($min-width, $width){
  @media($min-width) {
    .micropost-form {
      margin-right: $width;
    }
  }
}

@mixin no-link-decoration {
  text-decoration: none;
  color: inherit;
  &:hover, &:visited, &:focus {
    text-decoration: none;
  }
}

@mixin header-links {
  font-size: 20px;
  margin-left: 4px;
}

@mixin icon-colors($regular-color, $hover-color){
  color: $regular-color;
  &:hover {
    color: $hover-color;
  }
};


/*--------------- General -----------------*/

.date-time {
  display: none;
  color: grey;
  font-style: italic;
  font-size: 12px;
}

.date-time-comment {
  display: none;
  color: grey;
  font-style: italic;
  font-size: 12px;
}

.messages-row {
  text-align: center;
  .alert {
    display: inline-block;
    float: none;
  }
}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.notice{
  display: inline-block;
}

$page-background: rgb(243, 243, 246);

html {
  background-color: $page-background;
  @include no-scroll-bar;
  body {
    padding-top: 0px;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
  }
}

.hide {
  display: none !important;
}

.full-height {
  height: 100%;
}

.container-fluid {
  background-color: $page-background;
  margin-top: -20px;
  padding-top: 20px;
  width: 100%;
  overflow: scroll !important;
}

span.active {
  color: #6495ED !important;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.link-no-style{
  @include no-link-decoration;
}

/*---------------- Login form -----------------*/

$login-form-background: #d4d4f7;

@font-face {
  /* letter F => facebook square icon, f => facebook circle icon,
  G/g @include image-size(is for Google+ & T/t for Twitter */                          
  font-family: 'socialIcons';
  src: font-url("socialIcons.ttf") unquote("format('truetype')");
  font-weight: normal;
  font-style: normal;
}

.orDiv {
  display: inline-block;
  margin-top: 15px;
  width: 100%;
  height: 25px;
  border-bottom: 1px solid  black;
  text-align: center;
  span {
    font-size: 30px;
    background-color: $login-form-background;
    padding: 0 10px;
    
  }
}

.form-element {
  margin-bottom: 10px;
}

.input-group span i{
  width: 13px;
}


div.login-form{
  background-color: $login-form-background;
  border-radius: 15px;;
  padding-top: 10px;
  text-align: center;
  h2 {
    margin-top: 30px;
    margin-bottom: 15px;
  }
}

.form-btn-group {
  margin-top: 10px;
  margin-bottom: 20px;
}

.remember-me{
  position: relative;
  top: 0.5em;
  margin-left: 10px;
}

.social-media-sites li a {
  @include no-link-decoration;
}

.facebook-icon { @include icon-colors(#3B5998, #8B9DC3); }

.twitter-icon { @include icon-colors(#0084B4, #1DCAFF); }

.google-icon { @include icon-colors(#DB3236, #D65557); }

.social-media-icon{
  font-family: 'socialIcons';
  font-size: 60px;
}

/*----------------- Header --------------------*/

@font-face {
  font-family: 'oosh';
  src: font-url("oosh.ttf") unquote("format('truetype')");
  font-weight: normal;
  font-style: normal;
  }

.nav{
  margin-bottom: 0px !important;
}

#bs-example-navbar-collapse-1{
  border-style: none;
}

.navbar-collapse {
   -webkit-box-shadow: none;
    box-shadow: none;
  }

.navbar-brand {
  display: inline-block;
  width: 150px;
  color: grey;
  &:hover {
    color: white;
  }
}

#search-field {
  position: relative;
}

.search-icons {
  margin-top: 3px;
  span {
    color: grey;
    font-size: 1.5em;
    letter-spacing: 10px;
    &:hover {
      color: inherit;
    }
  }
}

#query-results{
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1;
  min-width: 250px;
  
  @include search-links;

}

.search-list {
  list-style: none;
  @include search-links;
  li {
    margin: 10px 0 10px 0;
    font-size: 2em;

    img {
      height: 40px;
    }
  }
}

.search-list-short {
  list-style: none;
  margin-left: -30px;
  li { 
    padding-right: 10px;
    margin-top: 5px;
  }
}

@include search-field-size(768px, 170px);
@include search-field-size(1024px, 250px);

#logo-name {
  position: relative;
  font-family: 'oosh';
  font-size: 2em;
  top: 4px;
}

#caret {
  margin-left: 7px;
  display: block;
}

img.profile-icon {
  height: 30px;
  border-radius: 50%;
}

.header-profile-icon {
  margin-top: -4px;
}

.spin-forward {
  animation-name: spin-f;
  animation-duration: 2s;
}

.spin-backward {
  animation-name: spin-b;
  animation-duration: 2s;
}

@keyframes spin-f {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes spin-b {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}

#logo-icon {
  position: relative;
  width: 1.6em;
  bottom: 4px;
  float: left;
  margin-right: 10px;
  margin-bottom: 20px;
}

.header-icon {
  color: grey;
  # top: 4px;
  margin-right: 4px;
  font-size: 22px;
  z-index: 1;
  &:hover {
    color: white;
  }
}

.profile-link {
  @include header-links;
  display: inline;
  }

#static-header-links {
  display: inline;
}


/*------------------- Notification --------------*/

#notification {
  position: fixed;
  top: 10px;
  bottom: 10px;
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  background-color: #fff;
  .close {cursor: pointer}
}

.online_status {
  color: red;
  transition: color 1s ease;
  &.online {
    color: green;
  }
}


/*------------------ Profile Specific -----------------*/

#profile-photo-container{
  display: inline-block;
  background: white;
  height: 350px;
  width: auto;
  padding: 10px 10px 0 10px;
  text-align: center;
  margin-bottom: 30px;
  & a {
    display: none;
    color: black;
    &:hover {
      color: grey;
    }
  }
  & span.glyphicon {
    font-size: 3em;
    float: left;
    margin-right: 20px;
  }
}

.profile-photo {
  margin: 0 0 30px 0;
  display: inline;
  position: relative;
  float: none;
  padding: 0 0 0 0;
}

.user-profile-name p {
  font-size: 2em;
}

#profile-frame {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}


/*-------------------- Microposts -------------------*/

.micropost-container {
  margin-bottom: 20px;
}

.micropost-header-icon {
  font-size: 1.5em;
  color: black !important;
    &:hover {
      color: grey !important;
    }
}

.micropost-profile-icon {
  position: absolute;
  margin: -4px 10px 10px 12px;
} 

.micropost-header {
  border-style: solid;
  border-color: $page-background;
  width: 100%;
  height: 30px;
  border-width: 0 0 2px 0;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-right: 0px;
}

#micropost-form {
  margin-right: -30px;
}

.edit-cancel-btn, .edit-submit-btn {
  margin-right: 10px;
}

#load-more-microposts {
  display: block;
  text-align: center;
}

@include micropost-form-width(320px, -20px);

.micropost-edit-form {
  display: none;
}

.micropost-div {
  background-color: white;
  margin-right: 10px;
  padding-right: -10px;
}

.micropost-text-area {
  width: 75%;
  margin-left: 50px;
  @include text-area-style;
}

.post-btn {
  position: relative;
  float: right;
  bottom: 2px;
  margin-right: 40px;
  margin-bottom: 5px;
}

.highlight-icon {
  animation-name: highlight;
  animation-duration: 1s;
  animation-timing-function: ease-in-ease-out;
}
  

@keyframes highlight {
  0% {box-shadow: 0 0 0 #8E8EF9;}
  10% {box-shadow: 0 0 4px #51BCEF;}
  20% {box-shadow: 0 0 3px #1510F9;}
  30% {box-shadow: 0 0 7px #8E8EF9;}
  40% {box-shadow: 0 0 12px #51BCEF;}
  50% {box-shadow: 0 0 9px #1510F9;}
  60% {box-shadow: 0 0 12px #8E8EF9;}
  70% {box-shadow: 0 0 5px #51BCEF;}
  80% {box-shadow: 0 0 12px #1510F9;}
  90% {box-shadow: 0 0 5px #51BCEF;}
  100% {box-shadow: 0 0 0 #8E8EF9;}
}

.micropost {
  width: 110%;
}

.glyphicon-remove {
  margin-right: 20px;
}

.micropost-content {
  min-height: 30px;
}

.micropost-paragraf {
  margin-left: 50px;
}

.micropost-header-text {
  margin-left: 20px;
  font-weight: bold;
  .glyphicon {
    margin-left: 5px;
    margin-right: 5px;
  }
}

/*---------- Comments -----------*/

.user-profile-link {
  font-weight: bold;
  margin-right: 5px;
}

.comment-btn {
  margin-right: 25px;
}                    

.comment-form-container {
  margin-top: 4px;
  margin-left: -20px;
  margin-right: -20px;
  padding-top: 10px;
  border-style: solid;
  border-width: 2px 0 0 0;
  border-color: $page-background;
}
  

.comment-text-area {
  margin-left: 30px;
  width: 250px;
  @include text-area-style;
  max-height: 1000px;
  max-width: 1000px;
}

.comment-profile-icon {
  height: 20px;
}

.show-more {
  display: none;
  text-align: center;
  color: cornflowerblue;
  &:link, &:visited, &:hover {
    color: cornflowerblue;
    text-decoration: none;
  }
}

a.micropost-like-btn, a.comment-like-btn  {
  color:inherit !important;
  text-decoration: none;
  &:hover, &:visited, &:active, &:link {
    text-decoration: none !important;
  }
}

.comment-container {
  display: none;
  margin: 8px 0px 5px 0px;
  border-style: solid;
  border-color: $page-background;
  border-width: 2px 0 0 0;
  padding-top: 8px;
  padding-left: 30px;
  .date-time-comment {
    top: -15px;
    position: relative;
    margin-right: 30px;
    margin-bottom: -20px;
  }
  @media screen and (min-width: 1025px){
    & span.delete-comment {
      display: none;
    }
    &:hover {
      & .date-time-comment {
        display: inline-block;
      }
      & span.delete-comment {
        display: inline;
        & .glyphicon {
          color: grey;
          &:hover {
            color: black;
          }
        }
      }
    }
  }
}

ul.comment-footer {
  margin: 4px 0 -4px 20px;
}

.micropost-div .date-time {
  top: -15px;
  position: relative;
  margin-right: 30px;
  margin-bottom: -20px;
}

.micropost-div:hover .date-time {
  display: inline-block;
}

ul.micropost-footer {
  margin: 4px 0 0 50px;
}

.thumbs {
  margin-left: 4px;
  font-weight: bold;
}
/*--------- Scroll Bar -----------*/


::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0,0,0); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(0,0,0); 
    background-color: rgb(98, 205, 247);
}

/*----------- Gallery ----------------*/

.no-content{
  text-align: center;
  span{
    display: inline-block;
    margin-top: 20px;
  }
}

.no-image{
  background-color: grey;
  height: 119px;
  width: 119px;
}

.album-name-header{
  .album-name {
    text-align: center;
    border-radius: 10px;
    margin-left: 20px;
    padding: 5px 10px 10px 10px;
    display: inline-block;
    background: #dbd9d9;
  }
  padding-bottom: 10px;
}

#album-collection {
  min-height: 20px;
  margin-top: 10px;
  background-color: white;
  border-radius: 30px;
  padding-bottom: 30px;

}

.album-container {
  text-align: center;
  a {
    color: black;
    &:hover {
      color: grey;
      text-decoration: none;
    }
  }
}

.album-thumb {
  margin-top: 20px;
}

$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 480px;
$ip: 320px;


.picture-option-btn{
  pointer-events: visible;
}

#gallery-grid {

  a {
    text-decoration: none;
  }

  & .glyphicon {
    pointer-events: visible;
    font-size: 2em;
    top: 5px;
    left: 10px;
    margin-right: 20px;
    color: #213267;
    &:hover {
      color: #4C67B8;
    }
  }

  & img {
    @include image-size($ip, 8.5em);
    @include image-size($xs, 13em);
    @include image-size($sm, 25em);
    @include image-size($md, 15em);
    @include image-size($lg, 20em); 
    pointer-events: auto;

    margin-bottom: 15px;
    margin-top: 15px;
    border-color: #eee;
    border: 0.625em solid rgba( 255, 255, 255, .5 ); /* 10 */

    -webkit-box-shadow: 0 0 0.313em rgba( 0, 0, 0, .05 ); /* 5 */
    box-shadow: 0 0 0.313em rgba( 0, 0, 0, .05 ); /* 5 */

    -webkit-transition: -webkit-box-shadow .1s ease, border-color .1s ease;
    transition: box-shadow .1s ease, border-color .1s ease;
  }
}

         
#gallery-grid img:hover,
#gallery-grid img:focus {
	border-color: #fff;
	-webkit-box-shadow: 0 0 0.938em rgba( 0, 0, 0, .25 ); /* 15 */
	box-shadow: 0 0 0.938em rgba( 0, 0, 0, .25 ); /* 15 */
}

.picture-options {
  display: none;
  position: absolute;
  top: 20px;
  left: 23px;
  height: 35px;
  width: 19em;
  background-color: rgba(255, 255, 255, 0.8);
  pointer-events: none;
}

.picture-container {
  position: relative;
  display: inline-block;
  pointer-events: inherit;
}

.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }

.apple_pagination a, .apple_pagination span {
  padding: 0.2em 0.3em; }

.apple_pagination .disabled {
  color: #aaaaaa; }

.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }

.apple_pagination a {
  text-decoration: none;
  color: black; }

.apple_pagination a:hover, .apple_pagination a:focus {
  text-decoration: underline; }
