/* Toggle Styles */

#wrapper {
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.sidebar-invisible {
    padding-right: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    top: 50px;
    right: 250px;
    width: 0;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: rgba(34, 34, 34, 0);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-button-wrapper {
  z-index: 1000;
  position: fixed;
  height: 100%;
  margin-right: -30px;
  overflow-y: auto;
  background: rgba(0,0,0,0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

}

#wrapper.sidebar-invisible #sidebar-wrapper {
    width: 250px;
}

#wrapper.sidebar-invisible #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 10px;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: grey;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: black;
    font-weight: bold;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: grey;
    background: none;
}

@mixin sidebar-media($min-width, $width, $font-size) {
  @media(min-width: $min-width) {
    #wrapper {
      padding-right: 250px;
    }

    #wrapper.sidebar-invisible {
      padding-right: 0;
    }

    #sidebar-wrapper {
      width: 250px;
    }

    #wrapper.sidebar-invisible #sidebar-wrapper {
      width: $width;
    }

    #wrapper.sidebar-invisible #page-content-wrapper {
      position: relative;
      margin-right: 0;
    }

    #sidebar-button-wrapper {
      width: $width;
    }

    span.glyphicon-chevron-left {
      font-size: $font-size;
      color: grey;
      &:hover {
        color: grey;
      }
    }
  }
}

@include sidebar-media(320px, 10px, 70%);
@include sidebar-media(768px, 25px, 200%);

.vertical-center {
  min-height: 70%;
  ming-height: 70vh;
  display: flex;
  align-items: center;
}
