<div class="modal fade" id="newPictureModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="newAlbumModalLabel">Create a new album</h4>
      </div>
      <span id='album-id' class='hidden'><%= @album[:id] %></span> 
      <%= form_tag({ action: 'create', controller: 'pictures' }, multipart: true, class: 'dropzone', id: 'picture-upload', method: 'post') do  %>
        <div class='fallback'>
          <%= file_field_tag 'upload[image]' %>
          <%= submit_tag 'Upload' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

