<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="editCaption">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deletePictureModalLabel">Delete picture?</h4>
      </div>

      <%= form_tag({ controller: 'pictures', action: 'destroy' }, remote: true, id: 'delete-picture-form', method: 'delete') do %>
        <div class="modal-body text-center">
          <%= submit_tag 'Yes', class: 'btn btn-danger' %>
          <%= button_tag 'No', type: 'button', class: 'close-form btn btn-primary', data: { 'dismiss'=>'modal' } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
