<div class="modal fade" id="editPictureCaption" tabindex="-1" role="dialog" aria-labelledby="editCaption">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editCaptionModalLabel">Add/Edit Caption</h4>
      </div>

      <%= form_tag({ controller: 'pictures', action: 'edit' }, remote: true, id: 'edit-caption-form', method: :patch) do %>
        <div class="modal-body">
          <%= hidden_field_tag :authenticity_token, value: form_authenticity_token %>
          <%= label_tag 'picture[caption]', 'Picture caption:' %>
          <%= text_field_tag 'picture[caption]','', id:'caption-input', placeholder: 'Afternoon selfie ftw...' %>
        </div>
        <div class="modal-footer">
          <%= button_tag 'Close', type: 'button', class: 'close-form btn btn-default', data: { 'dismiss'=>'modal' } %>
          <%= submit_tag 'Create', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
