<% @pictures.each do |picture| %>
 <div class='col-md-3 col-xs-5 picture-container' data-pacement='top' data-toggle='tooltip' title="<%= caption(picture) %>">

   <% if current_user.id == picture.user_id %>

     <div class='picture-options' data-picture-id='<%= picture.id %>'>
       <%= link_to '#', class: 'picture-option-btn edit-picture-caption-btn', data:{'placement'=>'bottom', 'toggle'=>'modal', 'target'=>'#editPictureCaption'} do %>
         <span class='glyphicon glyphicon-pencil'></span>
       <% end %>
       <%= link_to '#', class: 'picture-option-btn delete-picture-btn', data:{'toggle'=>'modal', 'target'=>'#confirmDelete'} do %>
         <span class='glyphicon glyphicon-trash'></span>
       <% end %>
     </div>

   <% end %>

   <%= link_to large_image(picture), data: {'image-lightbox'=>'e'}, class:'picture-link'  do %>
     <%= image_tag thumb(picture), alt: (picture.caption || '') %>
   <% end %>

 </div>
<% end %>
