<div class='col-lg-4 col-md-6 col-sm-10 col-xs-10 col-md-offset-3 col-lg-offset-4 col-xs-offset-1 col-sm-offset-1 login-form center'>
  
  <h2>Login/Signup with</h2>

  <div class='social-media-sites'>

    <ul class='list-inline social-media-links'>
      <li>
        <%= link_to user_facebook_omniauth_authorize_path do %>
          <span class='social-media-icon facebook-icon'>f</span>
        <% end %>
      </li>
      <li>
        <%= link_to user_twitter_omniauth_authorize_path do %>
          <span class='social-media-icon twitter-icon'>t</span>
        <% end %>
      </li>
      <li>
        <%= link_to user_google_oauth2_omniauth_authorize_path do %>
          <span class='social-media-icon google-icon'>g</span>
        <% end %>
      </li>
    </ul>

  </div>

  <div class='orDiv'>
    <span>or</span>
  </div>

  <h2>Login</h2>
  
  <%= render 'users/sessions_or_registrations/sign_in_form' %>

  <div class='orDiv'>
    <span>or</span>
  </div>

  <h2>Sign Up</h2>

  <%= render 'users/sessions_or_registrations/sign_up_form' %>
</div>
