<div class='col-lg-12'>
  <%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
    <div class='col-lg-10 col-lg-offset-1'> 
      <div class='row'>

        <div class ='col-lg-6 form-element'>
          <div class="field input-group">
            <span class='input-group-addon'>@</span>
            <%= f.email_field :email, class: 'form-control', placeholder: 'Enter email'  %>
          </div>
        </div>

     
        <div class ='col-lg-6 form-element'>
          <div class="field input-group">
            <span class='input-group-addon'><i class='fa fa-user-o'></i></span>
              <%= f.text_field :name, class: 'form-control', placeholder: 'Enter name' %>
            </div>
          </div>

        <div class='col-lg-6 form-element'> 
          <div class="field input-group">
               <span class='input-group-addon'><i class='fa fa-lock'></i></span>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'At least 8 characters' %>
          </div> 
        </div>

        <div class='col-lg-6 form-element'> 
          <div class="field input-group">
            <span class='input-group-addon'><i class='fa fa-lock'></i></span>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Re-enter password' %>
          </div> 
        </div>

      </div>
    </div>

    <% if @minimum_password_length %>
      <div class='col-md-12 col-lg-12 col-xs-12 col-sm-12'>
        <div class='alert alert-danger'>
          <p>Password must be <%= @minimum_password_length %> characters minimum</p>
        </div>
      </div>
    <% end %>

    <%= devise_error_messages! %>
     
   <div class='col-lg-10 form-btn-group'>
      <div class='row'>
        
      <div class='col-lg-2'>
          <div class="actions">
            <%= f.submit "Sign Up", class: 'btn btn-primary' %>
          </div>
        </div>

      </div>
    </div> 
  <% end %>
</div> 
