<div class='col-lg-12'>
  <%= form_for(resource, as: resource_name, url: user_session_path) do |f| %>
    <div class='col-lg-10 col-lg-offset-1'> 
      <div class='row'>

        <div class ='col-lg-6'>
          <div class="field input-group">
            <span class='input-group-addon'>@</span>
            <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Enter email' %>
          </div>
        </div>
       
       
        <div class='col-lg-6'> 
          <div class="field input-group">
            <span class='input-group-addon'><i class='fa fa-lock'></i></span>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Enter password' %>
          </div> 
        </div>

      </div>
    </div>

    <div class='col-lg-10 form-btn-group'>
      <div class='row'>
        
      <div class='col-lg-2'>
          <div class="actions">
            <%= f.submit "Log in", class: 'btn btn-primary' %>
          </div>
        </div>

        <div class='col-lg-4 remember-me'>
          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
        </div>

        
      </div>
    </div> 
  <% end %>
</div>
