<nav class="navbar navbar-inverse">
    <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <%= link_to  '#', class: 'navbar-brand', id: 'brand' do %>
      <%= image_tag 'bug_white.png', id: 'logo-icon' %>
      <%= content_tag :span, 'Oosh', id: 'logo-name' %> 
    <% end %>

  </div>
    
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <% if user_signed_in? %>
      
      <%= form_tag({ action: 'search_user', controller: '/searches' }, method: :get, class: 'navbar-form navbar-left') do -%>
        <div class="form-group">
          <%= search_field_tag( 'search-field', nil, name: 'search-query', class: 'form-control', placeholder: 'Search', type:'text', autocomplete: 'off') -%>
          <div id='query-results'></div>
        </div>
        <%= submit_tag('Submit', class:'btn btn-default', id: 'submit-search') -%>
      <% end %>

    <% end %>

    <div>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>

          <li><%= link_to users_profile_path(current_user), data: { turbolinks: false }, title:"#{current_user.name} profile" do -%>
            <%= image_tag(current_user.avatar.url(:thumb), height:"30", class: "profile-icon header-profile-icon") + 
            content_tag(:div, current_user.name.split(" ")[0], class: "profile-link")  -%><%end-%></li>
          <li><%= link_to users_profile_path(current_user), data: { turbolinks: false }, title: "Messages", id:'open-chatbox' do -%>
            <%= content_tag(:span, nil, class: "glyphicon header-icon glyphicon-envelope") -%><%end-%></li>
          <li><%= link_to users_profile_path(current_user), title: "Notifications" do -%>
            <%= content_tag(:span, nil, {class: "glyphicon header-icon glyphicon-exclamation-sign"}) -%><%end-%></li>
          <li><%= link_to destroy_user_session_path, id: 'current-user', method: :delete, title: 'Log Out' do -%>
            <%= content_tag(:span, nil, {class: "spin-forward header-icon glyphicon glyphicon-minus-sign"}) -%><%end-%></li>

          <li class="dropdown">
            <a href="#" id="cog" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon header-icon glyphicon-cog"></span> <span id="caret" class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>

        <% else %>

          <li><%= link_to new_user_session_path, title:'Login' do -%><%= content_tag(:span, nil, {class: "glyphicon header-icon glyphicon-user"}) -%><%end-%>  </li>

        <% end -%>
      </ul>

    </div>
  </div><!-- /.navbar-collapse -->
</nav>
