<ul class='search-list-short'>
  <% if users.any? %>
    <% users.each do |user| %>
      <li>
        <%= link_to users_profile_url(user.id) do -%>
          <%= image_tag user.avatar.url(:thumb), class: 'search-user-img profile-icon' -%>
          <span><%= user.name %></span>
        <% end %>
        <%= link_to show_conversation_path(user), remote: true, class: 'search-icons pull-right' do %>
          <span class='glyphicon glyphicon-heart-empty'></span>
        <% end %>
        <%= link_to show_conversation_path(user), data:{ 'user-id': user.id }, remote: true, class: 'new-personal-message search-icons pull-right' do %>
          <span class='glyphicon glyphicon-envelope'></span>
        <% end %>
      </li>
    <% end %>
  <% else %>
    <li>
      <span>No users found.<span>
    </li>
  <% end %>
</ul>
