<div id="wrapper" class="sidebar-invisible">
 <div id="sidebar-wrapper">
    <div id="sidebar-button-wrapper"><div class="vertical-center"><span class="glyphicon glyphicon-chevron-left"></span></div></div>
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          Something
        </a>
      </li>
      <li>
        <a href="#">Something else</a>
      </li>
    </ul>
  </div>
</div>
