<!DOCTYPE html>
<html>
  <head>

    <title><%= page_title(yield(:title)) %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <%= csrf_meta_tags %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/header' -%>

    <% if user_signed_in? %>
      <%= render 'layouts/sidebar' -%>
    <% end %>

    <div class="container-fluid">
      <% if alert || notice %>
        <%= render 'layouts/messages' %>
      <% end %>

      <%= yield %>
    </div>

    <%= render 'layouts/chat_container' -%>

  </body>

  <% if Rails.env.development? %>
    <div class="col-md-12">
      <div id='params-window'><%= debug(params) %></div>
      <div id='console-window'><%= console %></div>
    </div>
  <% end %>
</html>
